DB_HOST="localhost"
DB_PORT="6321"
DB_USER="sdd_sdd"
DB_PASSWORD="docker"
DB_NAME="sdd_sdd_db"
DATABASE_URL="postgresql://sdd_sdd:docker@localhost:6321/sdd_sdd_db?schema=public"
PORT="4000"
JWT_SECRET=""
JWT_EXPIRES_IN="1d"
